@model App.Models.Bookings.Booking

@{
    ViewData["Title"] = "Chi Tiết Booking";
}

<h1>Chi Tiết</h1>

<div>
    <h4>Chi Tiết Booking</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">

            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClientSlot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClientSlot)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingSlot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingSlot)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Branch)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Branch)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserPhone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
