@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Authentication
@using App.Models
@model LoginViewModel
@inject SignInManager<AppUser> SignInManager
@{

    ViewData["Title"] = "Login Page";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/editLoginPage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" /> *@
</head>
@* <h1 class="title-text">@ViewData["Title"]</h1>
    <h4 class="title-text">Use already account to login</h4>
    <hr /> *@
<div class="center">
    <h1>@ViewData["Title"]</h1>
    <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post"
        class="" role="form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="txt_field">
            <input asp-for="UserNameOrEmail" class="" />
            <span class="span-edit"></span>
            <span asp-validation-for="UserNameOrEmail" class="text-danger"></span>
            <label asp-for="UserNameOrEmail" class="control-label"></label>
        </div>
        <div class="txt_field">
            <input asp-for="Password" class="" />
            <span class="span-edit"></span>
            <span asp-validation-for="Password" class="text-danger"></span>
            <label asp-for="Password" class="control-label"></label>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <label asp-for="RememberMe">
                        <input asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>
        </div>
        <div class="">
            <a class="pass" asp-action="ForgotPassword">Forgot password?</a>
        </div>
        <button type="submit" class="pass button-type">Login</button>
        <div class="signup_link">
            Not a member?<a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Create a new account</a>
        </div>
    </form>
    @{

        var schemes = await SignInManager.GetExternalAuthenticationSchemesAsync();

        var loginProviders = schemes.ToList();

        if (loginProviders.Count == 0)

        {
            <div>
                <p>
                    Ứng dụng chưa hỗ trợ đăng nhập từ tài khoản ngoài
                </p>
            </div>

        }

        else

        {
            <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post"
        class="form-horizontal" role="form">
                <div>
                    <div class="auth">
                        Or Login With
                    </div>
                    <p class="social-btn">
                        @foreach (var provider in loginProviders)
                        {
                            <button type="submit" class="social-login" name="provider" value="@provider.Name"
                        title="Log in using your @provider.Name account">@provider.Name</button>

                        }
                    </p>
                </div>
            </form>

        }
    }
</div>
@section Scripts {
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
